<launch>

  <arg name="world_name" default="garage"/>

  <node pkg="visualization_tools" type="visualizationTools" name="visualizationTools" output="screen">
    <param name="metricFile" type="string" value="$(find vehicle_simulator)/log/metrics" />
    <param name="trajFile" type="string" value="$(find vehicle_simulator)/log/trajectory" />
    <param name="mapFile" type="string" value="$(find vehicle_simulator)/mesh/$(arg world_name)/preview/pointcloud.ply" />
    <param name="overallMapVoxelSize" type="double" value="0.5" />
    <param name="exploredAreaVoxelSize" type="double" value="0.3" />
    <param name="exploredVolumeVoxelSize" type="double" value="0.5" />
    <param name="transInterval" type="double" value="0.2" />
    <param name="yawInterval" type="double" value="10.0" />
    <param name="overallMapDisplayInterval" type="int" value="2" />
    <param name="exploredAreaDisplayInterval" type="int" value="1" />
  </node>

  <node pkg="visualization_tools" type="realTimePlot.py" name="realTimePlot" output="screen" respawn="true"/>

</launch>
